<!DOCTYPE html>
<html ng-csp ng-app>
<head>
<link rel="stylesheet" href="/css/frontend.css">
<script src="/lib/jquery.js"></script>
<script src="/lib/angular.js"></script>
<script src="/lib/jsdeferred.js"></script>
<script src="/src/lib.js"></script>
<script src="/src/options.js"></script>
</head>
<body>

<div ng-controller="appExtension">

<form ng-submit="save()">

Klepto server[domain:port]<input type="text" ng-model="apiServer">
<span ng-show="apiServerStatus">{{apiServerStatus}}</span><br>

change proxy setting<input type="checkbox" ng-model="changeProxy" ng-readonly="proxyDisable">
<span ng-show="proxyStatus">{{proxyStatus}}</span><br>

<input type="submit" value="Save">
<input type="reset" value="Reset" ng-click="reset()">
<span ng-class="save_success" class="alert-success">Save success.</span>

</form>

<div ng-show="ApiServerStatus">{{ApiServerStatus}}</div>

<!-- /ng-controller="appExtension" --></div>

</body>
</html>